*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

nav{
    width:100%;
    height:70px;
    background:#fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom:1px solid #ddd;
    padding: 0px 30px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
    position: sticky;
    top: 0;
    z-index: 999;
}
.left{
    display: flex;
    align-items: center;
    gap: 25px;
}
.menu-icon{
  font-size:20px;
  cursor:pointer;
  color: #555;
}
.nav-links{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 30px;
}

.nav-links li a{
    text-decoration: none;
    color: #282c3f;
    font-weight: 600;
    font-size: 15px;
    position: relative;
    padding-bottom: 8px ;
}
.nav-links .nav-h:hover{
    text-decoration: underline 2.5px solid red; 
    text-underline-offset: 13px;   

}

.logo img{
  height:45px;
}
.search-box{
    background: #fff;
    border: 1px solid #222;
    display: flex;
    align-items: center;
    border-radius: 30px;
    padding: 8px 13px;
    width: 300px;
    justify-content: space-between;
}
.search-box input{
    border: none;
    outline: none;
    font-size: 14px;
}
.search-box i{
  margin-left:12px;
  color:#555;
  cursor:pointer;
}
 
.right{
    display: flex;
    align-items: center;
    gap: 20px;
}
.icons{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 18px;
}
.icons li i{
  font-size:18px;
  cursor:pointer;
  color:#222;
}

.icons li{
    position: relative;
    cursor: pointer;
    padding: 8px 0px;
}

.icons li::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2.5px;
    background-color: red;
}

.icons li:hover::after {
    width: 100%;
}


/* home */
.home{
    margin: 0px 6px;
}

/* dots */

.dots{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0px;

}
.dots div{
    height: 10px;
    width: 10px;
    background-color: #efefef;
    margin: 0px 9px;
    border-radius: 50%;
}


/* home-bottom-details */

.home-bottom-details{
    margin: 30px 6px;
}

 /* choose-your-universe */

 .choose-your-universe{
     margin: 0px 6px;
 }
 .choose-your-universe h3{
   color: #282c3f;
   font-size: 24px;
   text-align: center;
   margin-bottom:30px ;
 }
.cyu-items{
    display: flex;
    justify-content: space-between;
    list-style: none;

}
.cyu-items li img{
    width:490px;
}

/* official-collab */

.official-collab{
    margin: 25px 6px;
}

.official-collab h3{
    font-size: 25px;
    text-align: center;
    color: #282c3f;

}
.official-collab h2{
    margin-top: 3px;
    font-size: 23px;
    font-weight: 100;
    text-align: center;
    color: #525964;
}
.collab-items{
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
    
}
.collab-items img{
   width:365px;
}
.content{
margin: 0px 6px;
}

.content h5{
    font-size: 11px;
    color: #58535b;
    padding: 8px 0px 1px;
}
hr{
    color: #737577;
}
.content h6{
    font-size: 13px;
    color: #737577;
    font-weight: 100;
    padding: 5px 0px;
}
.content span{
    color: #58595b;
    font-size: 13px;
}

/* drop-zone */

.drop-zone{
    margin: 0px 6px;
}
.drop-zone h3{
    text-align: center;
    color: #282c3f;
    font-size: 24px;
    margin:35px 0px;
}


.innovation-lab{
    margin: 0px 6px;
}
.innovation-lab h3{
    color: #282c3f;
    text-align: center;
    margin: 30px 0px;
    font-size: 23px;
}
.innovation-items{
    display: flex;
    justify-content: space-between;
    list-style: none;   
}
.innovation-items img{
    width: 490px;
}


/* footer */
footer{
    margin-top:50px ;
}

footer .head{
    background-color: #e71318;
    font-size: 35px;
    text-align: center;
    letter-spacing: 1.5px;
    color: #fff;
    font-weight: 500;
    margin-bottom: 10px;
    padding: 10px 0px;
}

footer h3{
    font-size: 42px;
    text-align: center;
    font-weight: 300;
    margin-bottom: 10px;
}
footer h3 span{
    font-weight: 600;
}
.footer-link{
    background-color: #e6e7e8;
    padding: 40px 80px;
}
.footer-details{
    display: flex;

    justify-content: space-evenly;
}
.footer-details h5{
    color: #ed2e30;
    margin-bottom: 20px;
    font-size: 17px;

}
.footer-details .detail{
    display: flex;
    list-style: none;
    flex-direction: column;
}
.footer-details .detail li a {
    text-decoration: none;
    color: #58595b;
    font-weight: 600;
    font-size: 14px;
    line-height: 2.5;
}

.footer-details .detail li a:hover{
    color: #ed2e30;
}
.footer-details .detail li a span{
    color: #0000ff;
}

.Policy{
    position: relative;
    font-size: 12px;
    margin-bottom: 60px;
}

.Policy .rupees{
    border: 1px solid;
    padding: 7px;
    border-radius: 50%;
    color: #58595b;
    margin-right: 10px;
}

.Policy .policy-details1{
    position: absolute;
    left: 150px;
    color: #58595b;
    font-weight: 500;
}

.Policy .policy-details2{
    position: absolute;
    top: 30px;
    left: 150px;
    color: #58595b;
    font-weight: 500;
}
.experience{
    text-align: center;
}
.experience ul{
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 5px 0px;
}
.experience ul img{
    width:120px;
}
.experience b,i{
    text-transform:uppercase;
    color: #58595b;
}










/* shoesitem */

/* .shoes-items{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
}
.cards{
    height: 550px;
    width: 350px;
}
.cards img{
    height: 460px;
    width: 100%;
}
.img-section{
    position: relative;
}
.emoji-area{
    background-color: #cdd0d3;
    border-radius: 50%;
    position: absolute;
    top: 20px;
    right: 20px;
    height: 35px;
    width: 35px;
    text-align: center;
}
.img-section .emoji-area span{
    position: relative;
    top: 20%;
}
hr{
    color: #9fa2a4;
}
.content{
    margin: 0px 4px;
}
.cards h5{
    color: #585c70;
    padding: 8px 0px 1px;
    font: 14px;
}
.cards .subname{
    color: #737577;
    font: 15px;
    margin: 4px 0px 0px;
}
.cards .price{
    color: #58595B;
    font: 15px;
    margin: 0px 5px 0px 0px;
    font-weight: 600;
} */